<%= button_to 'Home Page', { :action => 'index', :controller => 'home' }, {:method => :get, :class => 'btn btn-default'} %>

<div class = 'container col-md-3' id = 'left-col'>
	<%= render "player_details" %>
</div>
<div class = 'container col-md-4' id = 'mid-col'>
	<%= render "match_preview" %>
</div>
<div class='container col-md-5' id='right-col'>
	<%= render 'match_details' %>
</div>
