.section-header{
    border-bottom: thin solid #b8b8b8;
}

#left-col, #right-col {
	text-align: left;
}

#skill-tier-img {
	float: right;
}

.match-preview {
	border: thin solid #b8b8b8;
	padding: 5px;
	margin: 5px;
}

.item-img {
	width: 15%;
}

.hero-profile-img {
	width: 100%;
}
