.section-header{
    border-bottom: thin solid #b8b8b8;
}

#match-body {
	height: 500px;
	overflow-y: scroll;
	text-align: center;
}

.tooltip-inner  {
    white-space: nowrap;
}

#player-ign {
	font-size: 2em;
	float: left;
}

.match-preview {
	text-align: left;
	border: thin solid #b8b8b8;
	padding: 5px;
	margin: 5px;
}

.item-img-wrapper, .hero-profile-wrapper, .skill-tier-wrapper {
	padding: 0px;
}

.item-img {
	width: 90%;
}

.hero-profile-img, .skill-tier-img {
	width: 100%;
}

.score {
	text-align: center;
}
